*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  background:linear-gradient(135deg,#1e1b4b,#312e81,#0f172a);
}

.calculator{
  width:360px;

  background:rgba(15,23,42,0.95);

  padding:25px;

  border-radius:25px;

  backdrop-filter:blur(10px);

  border:1px solid rgba(255,255,255,0.1);

  box-shadow:0 15px 35px rgba(0,0,0,0.5);
}

.title{
  text-align:center;
  margin-bottom:20px;
}

.title h1{
  color:white;
  font-size:34px;
  margin-bottom:5px;

  letter-spacing:1px;
}

.title p{
  color:#cbd5e1;
  font-size:14px;
}

/* DISPLAY */

#display{
  width:100%;
  height:85px;

  border:none;
  outline:none;

  border-radius:15px;

  background:#0f172a;

  color:#f8fafc;

  font-size:34px;

  text-align:right;

  padding:20px;

  margin-bottom:20px;

  box-shadow:inset 0 4px 10px rgba(0,0,0,0.4);
}

.buttons{
  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:15px;
}

.btn{
  height:68px;

  border:none;

  border-radius:16px;

  font-size:22px;

  cursor:pointer;

  background:#1e293b;

  color:white;

  transition:0.3s ease;

  box-shadow:0 5px 12px rgba(0,0,0,0.3);
}

.btn:hover{
  transform:translateY(-3px);

  background:#334155;
}

.operator{
  background:linear-gradient(135deg,#ec4899,#be185d);
}

.operator:hover{
  background:linear-gradient(135deg,#db2777,#9d174d);
}

/* EQUAL BUTTON */

.equal{
  background:linear-gradient(135deg,#06b6d4,#2563eb);
}

.equal:hover{
  background:linear-gradient(135deg,#0891b2,#1d4ed8);
}


.zero{
  grid-column:span 2;
}

@media(max-width:400px){

  .calculator{
    width:90%;
  }

  #display{
    font-size:28px;
  }

  .btn{
    height:60px;
    font-size:20px;
  }

}
